header {
    height: 3.75rem;
    width: 100%;
    background-color: var(--white);
    border-bottom: 0.0625rem solid var(--black20);
}

.header-container {
    padding: 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--brand50);
}

.title {
    font-size: var(--text-9);
    font-weight: var(--font-weight-1);
}

.buttons-header {
    display: flex;
    align-items: center;
    position: relative;
}

.btns_header_containner {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5.9375rem;
    background-color: var(--white);
    visibility: visible;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.33);
    position: absolute;
    bottom: -7rem;
    right: 0;
}

.display_none {
    display: none;
}

.display_flex {
    display: flex;
}

.show_menu {
    opacity: 1;
    bottom: -7rem;
    transition: 0.3s ease;
}

.hide_menu {
    opacity: 0;
    bottom: 10rem;
    transition: 0.3s ease;
}

@media(min-width: 72.49rem){
    .container {
        width: 72.5rem;
    }
    header {
        height: 5rem;
    }
    .buttons-header {
        display: flex;
        align-items: center;
        position: relative;
    }
    .btns_header_containner {
        height: 4.9rem;
        box-shadow: none;
        position: relative;
        bottom: 0rem;
        right: 0;
    }
    #hamburger {
        display: none;
    }
    .show_menu {
        opacity: 0;
        bottom: 0;
    }
    .hide_menu {
        opacity: 1;
        bottom: 0;
    }
}